@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/Poppins-Regular.ttf) format("truetype");
  }
}

#send_btn {
  font-family: inherit;
  font-size: 16px;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: pointer;
}

#send_btn span {
  display: block;
  margin-left: 0.3em;
}

#send_btn:active {
  transform: scale(0.95);
}
